@import '/styles/main';

.wrap {
  padding-bottom: 50px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.headerCell,
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  min-height: 40px;
  border: 1px solid rgba(gray, 0.5);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headerCell {
  position: relative;
  background-color: $gold;

  &:focus,
  &:hover {
    & > .toolTip {
      opacity: 1;
      top: 45px;
      transition: opacity $transitionIn, top $transitionIn;
    }
  }
}

.cell {
  min-height: 15px;
}

.toolTip {
  position: absolute;
  width: 200px;
  top: 60px;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  text-transform: initial;
  line-height: 1.5;
  text-align: left;
  background-color: $tissue;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 5px 10px rgba(black, 0.25);
  transition: opacity $transitionOut, top $transitionOut;

  &::before {
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: $tissue;
    content: '';
    top: -7px;
    transform: rotate(45deg);
    right: 93px;
  }
}

.sectionTitle {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 20px;
  color: $pumpkin;
}

.url {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 12px;
  color: $bronze;
}
